<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soft.test">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TestOneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestTwoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestThreeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestFourActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>